:root {

  /* ================= Font Style ================= */
  --text-default: 16px;
  --text-sm: 1em;
  --text-md: 1.5em;
  --text-lg: 2em;
  --text-xl: 2.5em;
  --text-2xl: 3em;
  --text-4xl: 3.5em;
  --text-8xl: 4em;
  --text-12xl: 4.5em;
  --text-white: #FFFFFF;
  /* ================= End Font Style ================= */
}

* {
  font-size: var(--text-default);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

/* ================= Font Style ================= */
.xe-text-sm {font-size: var(--text-sm);}
.xe-text-md {font-size: var(--text-md);}
.xe-text-lg {font-size: var(--text-lg);}
.xe-text-xl {font-size: var(--text-xl);}
.xe-text-2xl {font-size: var(--text-2xl);}
.xe-text-4xl {font-size: var(--text-4xl);}
.xe-text-8xl {font-size: var(--text-8xl);}
.xe-text-12xl {font-size: var(--text-12xl);}

.xe-text-white{color: var(--text-white);}
.xe-text-black{color: rgba(0, 0, 0, 80);}
.xe-text-gray-400{color: rgba(156, 163, 175, 1);}
.xe-text-gray-700{color: rgba(55, 65, 81, 1);}
/* ================= Margin Property ================= */
.xe-mx-1 {
  margin: 0 1rem;
}
/* ================= Overflow Property ================= */
.xe-overflow-hidden {overflow: hidden;}
/* ================= Display Property ================= */
.xe-flex {display: flex;}
.xe-fixed {display: fixed;}
/* ================= Flex Property ================= */
.xe-gap-1 {gap: 5px;}
/* ================= Small Screen Display Property ================= */
@media (max-width: 941px) {
  .md\:xe-hidden {
    display: none;
  }
  .md\:xe-overflow-hidden {overflow: hidden;}
}
/* ================= Large Screen Display Property ================= */
@media (min-width: 942px) {
  .lg\:xe-hidden {
    display: none;
  }
}